<div class="asciiContainer"> 
  <h2>Battleship!</h2>
<pre>
                                   # #  ( )
                                ___#_#___|__
                            _  |____________|  _
                     _=====| | |            | | |==== _
               =====| |.---------------------------. | |====
 <---------------------'   .  .  .  .  .  .  .  .   '-------------/
   \                                                             /
    \_______________________________________________WWS_________/
 wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww 


</pre>
</div>

<div class="footer">
    <p>
        Battleship ASCII art:
        From: https://ascii.co.uk/art/battleship,
        Created by: Anonymous
    </p>
</div>
