<div class="container-fluid text-white">
    <div class="row">
        <div class="col">
            <h2>List Of members</h2>
            {{currentUser.username}} <br>
            {{teamName}}
            
            <table class="table table-dark table-stdiped" style="margin-top: 20px;">
                <!-- thead -->
                <thead>
                    <tr>
                      <th>Profile</th>
                      <th>UserName</th>
                    </tr>            
                </thead>
                <!-- tbody -->
                <tbody>
                    <tr *ngFor = "let member of myteam.users">
                      <td><img src="{{member.picture}}" alt=""></td>
                      <td>{{ member.username}}</td>
                    </tr>
                  
                </tbody> 
                <!-- tfoot -->
                <tfoot>
        
                </tfoot>       
              </table>
            <button class="btn btn-danger" type="submit" (click)="OnDeleteTeam()">Delete team</button>

            
            
        </div>
        <div class="col">
            <h2>My requests</h2>
            <table>
                <tbody>
                    <tr *ngFor="let request of requestList">
                        <td>{{request.id}}</td>
                        <td>{{request.user.username}}</td>
                        <td><a class="btn btn-primary" (click)="AcceptOrDeny(request.id,true)">Accept</a></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
    
    
</div>
  
  
  