.chat-messages {
    width:25%;
    position: relative;
    float:right;
 }
 
.chat-messages-show-container{
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 15px 15px 0px 0px;
}
.chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.chat-messages-create-container{
    background: #616161;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 0px 0px 15px 15px;
}
.chat-messages-create-input {
    padding: 12px;
    margin: 29px 30px;
    flex:2;
    margin-left: 15%;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
}
.chat-messages-create-button {
    height: 50px;
    margin: auto 40px;
    width: 100px;
}


ul li{
    background-color:gray;
    color: #F5F5F5;
    padding: 15px 30px;
    margin:10px;
    text-align: right;
    border-radius:15px;
    
}

