#leaderboard
{
    border: 4px solid black;
    background-color: rgb(27, 27, 31);
    padding-top: 0.75%;
    width: 75%;
    margin: auto;
    margin-top: 4%;
}

#title
{
    color: azure;
    font: 50px bold Arial, serif;
    text-align: center;
    margin-top: 4%;
    text-shadow: 
    1px 1px 10px #0e9ceefa;
}

#categorytext
{
    color: azure;
    font: 24px bold Arial, sans-serif;
    text-shadow: 
    1px 1px 10px #0e9ceefa;
}

#tbodytext
{
    color: azure;
}

#gameselect
{
    width: 60%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #0e9ceefa;
  }

tbody tr {
    border-color: azure;
}

thead tr {
    border-color: azure;
}