<div class="container">

  <!--Display Title-->
  <div id="title">
    Team Leaderboards
  </div>

  <div class="container">
    <!--Game Select-->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a (click)= "GetTeamLeaderboard('partygames')" [ngStyle]="{'text-shadow': SelectedGame == 'partygames' ? '1px 1px 10px red' : '', 'opacity': SelectedGame === 'partygames' ? '1' : ''}">Party Games</a>
        </li>
        <li>
          <a (click)= "GetTeamLeaderboard('songsink')" [ngStyle]="{'text-shadow': SelectedGame == 'songsink' ? '1px 1px 10px red' : '', 'opacity': SelectedGame === 'songsink' ? '1' : ''}">Songs-Ink</a>
        </li>
        <li>
          <a (click)= "GetTeamLeaderboard('battleship')" [ngStyle]="{'text-shadow': SelectedGame == 'battleship' ? '1px 1px 10px red' : '', 'opacity': SelectedGame === 'battleship' ? '1' : ''}">Battleship</a>
        </li>
      </ul>
    </nav>

    <!--Presenting the Leaderboard-->
    <table *ngIf="!isLoading; else loadingpanel" id="leaderboard" class="table table-hover table-bordered">
      <thead id="categorytext">
        <tr>
          <td>Team Name</td>
          <td style="width: 30%">Total Score</td>
        </tr>
      </thead>
      <tbody id="tbodytext">
        <tr *ngFor="let team of TeamEntry" [ngClass] = "{'team': user.team ? team.teamName === user.team.name : false}">
          <td>
            {{team.teamName}}
          </td>
          <td>
            {{team.score}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<ng-template #loadingpanel>
  <div id="spinner-wrapper" class="container-fluid spinner-wrapper">
    <app-loading-wheel></app-loading-wheel>
  </div>
</ng-template>