<div style="height: 100vh;">

  <div class="row justify-content-md-center">
    <div class="col col-12">
      <div class="p-2 text-center text-warning" style="background-color: #111;">
        <img src="assets/dotnet-royale/leaderboard.png" alt="leaderboard" style="height: 15vh;">
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center text-white"  style="height: 70vh;">

    <div class="col col-3">
      <div class="card bg-dark m-4">
        <div class="card-header text-center" style="background-color: #111;">
          <h3>SNAKE</h3>
        </div>
        <div class="m-2 overflow-auto">
          <table class="table table-sm">
            <tr *ngFor = "let snakeLeader of snakeLeaders" class="text-white bg-dark">
              <td>
                <i class="fas fa-user-circle mr-2"></i>{{snakeLeader.userName | uppercase}}
              </td>
              <td>
                {{snakeLeader.score}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col col-3">
      <div class="card bg-dark m-4">
        <div class="card-header text-center" style="background-color: #111;">
          <h3>BLACK JACK</h3>
        </div>
        <div class="m-2 overflow-auto">
          <table class="table table-sm">
            <tr *ngFor = "let blackjackLeader of blackjackLeaders" class="text-white bg-dark">
              <td>
                <i class="fas fa-user-circle mr-2"></i>{{blackjackLeader.userName | uppercase}}
              </td>
              <td>
                {{blackjackLeader.winLossRatio}}
              </td>
            </tr>
          </table>
        </div>
       </div>
    </div>

    <div class="col col-3">
      <div class="card bg-dark m-4">
        <div class="card-header text-center" style="background-color: #111;">
          <h3>TIC-TAC-TOE</h3>
        </div>
        <div class="m-2 overflow-auto">
          <table class="table table-sm">
            <tr *ngFor = "let tictactoeLeader of tictactoeLeaders" class="text-white bg-dark">
              <td>
                <i class="fas fa-user-circle mr-2"></i>{{tictactoeLeader.userName | uppercase}}
              </td>
              <td>
                {{tictactoeLeader.winLossRatio}}
              </td>
            </tr>
          </table>
        </div>
       </div>
    </div>

    <div class="col col-3">
      <div class="card bg-dark m-4">
        <div class="card-header text-center" style="background-color: #111;">
          <h3>LIGHT BIKE</h3>
        </div>
        <div class="m-2 overflow-auto">
          <table class="table table-sm">
            <tr *ngFor = "let lightbikeLeader of lightbikeLeaders" class="text-white bg-dark">
              <td>
                <i class="fas fa-user-circle mr-2"></i>{{lightbikeLeader.userName | uppercase}}
              </td>
              <td>
                {{lightbikeLeader.winLossRatio}}
              </td>
            </tr>
          </table>
        </div>
       </div>
    </div>

  </div>

  <div class="row mt-4 justify-content-md-center">
    <div class="col col-6 text-center">
      <button class="btn btn-warning container mt-2" (click)="goToMain()">
        <img src="assets/dotnet-royale/back.png" alt="back" style="height: 5vh;">
      </button>
    </div>
  </div>

</div>
