<div style="height: 100vh;">
  <audio id="sfx"></audio>
  <div class="row justify-content-md-center">
    <div class="col col-12">
      <div class="p-2 text-center text-white" style="background-color: #111;">
        <img src="assets/dotnet-royale/title3.png" alt="title" style="height:15vh">
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-md-center" style="height: 60vh;">
    <div class="col col-6 text-center">
      <button class="btn btn-primary container mt-5" (click)="goToLobby()"><img src="assets/dotnet-royale/play.png" alt="play" style="height:10vh"></button>
      <button class="btn btn-dark container mt-5" (click)="goToLeaderboard()"><img src="assets/dotnet-royale/leaderboard.png" alt="leaderboard" style="height:10vh"></button>
      <button class="btn btn-dark container mt-5" (click)="goToUserProfile()"><img src="assets/dotnet-royale/userprofile.png" alt="userprofile" style="height:10vh"></button>
    </div>
  </div>
  <div class="row mt-4 justify-content-md-center">
    <div class="col col-6 text-center">
      <button class="btn btn-warning container mt-2" (click)="goToRoot()"><img src="assets/dotnet-royale/back.png" alt="back" style="height:10vh"></button>
    </div>
  </div>
</div>
