<!--Display Title-->
<div id="title">
    Select Game
</div>

<!--Game Select-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
            <a routerLink="/game/dotnetroyale" routerLinkActive="active">
                <img src="assets\images\party.png">
                <p>
                    Party Games
                </p>
            </a>
        </li>
        <li>
            <a routerLink="/game" routerLinkActive="active">
                <img src="assets\images\songsink.png">
                <p>
                    Songs-Ink
                </p>
            </a>
        </li>
        <li>
            <a routerLink="/game/battleship" routerLinkActive="active">
                <img src="assets\images\battleship.png">
                <p>
                    Battleship
                </p>
            </a>
        </li>
    </ul>
</nav>