<div class="container">
    <!--Display Title-->
    <div id="title">
        Select Game
    </div>

    <!--Game Select-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <img src="assets\images\party.png">
                <div class="middle">
                    <a class="text" routerLink="/game" routerLinkActive="active">
                        Party Games
                    </a>
                </div>
            </li>
            <li>
                <img src="assets\images\songsink.png">
                <div class="middle">
                    <a class="text" routerLink="/game" routerLinkActive="active">
                        Songs-Ink
                    </a>
                </div>
            </li>
            <li>
                <img src="assets\images\battleship.png">
                <div class="middle">
                    <a class="text" routerLink="/game" routerLinkActive="active">
                        Battleship
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>