<!--Display Title-->
<div id="title">
    Select Game
</div>

<!--Game Select-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
            <a routerLink="/game/dotnetroyale" routerLinkActive="active">
                <img src="assets\images\party.png">
                <br>
                <button class="text-white text-decoration-none btn btn-dark">
                    Dotnet Royale
                </button>
            </a>
        </li>
        <li>
            <a routerLink="/game" routerLinkActive="active">
                <img src="assets\images\songsink.png">
                <br>
                <button class="text-white text-decoration-none btn btn-dark">
                    Songs-Ink
                </button>
            </a>
        </li>
        <li>
            <a routerLink="/game/battleship" routerLinkActive="active">
                <img src="assets\images\battleship.png">
                <br>
                <button class="text-white text-decoration-none btn btn-dark">
                    Battleship
                </button>
            </a>
        </li>
    </ul>
</nav>