<div class='wrapper'>
  <div class='carousel'>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/snake-img-2.png" class="card-img-top" alt="snake">
      </div>
      <div class='carousel__item-body bg-primary text-center'>
        <img src="../assets/images/snake.png" class="card-img-top" alt="snake">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/blackjack-img-1.png" class="card-img-top" alt="blackjack">
      </div>
      <div class='carousel__item-body bg-success text-center'>
        <img src="../assets/images/blackjack.png" class="card-img-top" alt="blackjack">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/tictactoe-img-1.png" class="card-img-top" alt="tictactoe">
      </div>
      <div class='carousel__item-body bg-danger text-center'>
        <img src="../assets/images/tictactoe.png" class="card-img-top" alt="tictactoe">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/snake-img-2.png" class="card-img-top" alt="snake">
      </div>
      <div class='carousel__item-body bg-primary text-center'>
        <img src="../assets/images/snake.png" class="card-img-top" alt="snake">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/blackjack-img-1.png" class="card-img-top" alt="blackjack">
      </div>
      <div class='carousel__item-body bg-success text-center'>
        <img src="../assets/images/blackjack.png" class="card-img-top" alt="blackjack">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/tictactoe-img-1.png" class="card-img-top" alt="tictactoe">
      </div>
      <div class='carousel__item-body bg-danger text-center'>
        <img src="../assets/images/tictactoe.png" class="card-img-top" alt="tictactoe">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/snake-img-2.png" class="card-img-top" alt="snake">
      </div>
      <div class='carousel__item-body bg-primary text-center'>
        <img src="../assets/images/snake.png" class="card-img-top" alt="snake">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/blackjack-img-1.png" class="card-img-top" alt="blackjack">
      </div>
      <div class='carousel__item-body bg-success text-center'>
        <img src="../assets/images/blackjack.png" class="card-img-top" alt="blackjack">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/images/tictactoe-img-1.png" class="card-img-top" alt="tictactoe">
      </div>
      <div class='carousel__item-body bg-danger text-center'>
        <img src="../assets/images/tictactoe.png" class="card-img-top" alt="tictactoe">
      </div>
    </div>
  </div>
</div>

<!-- <div class="card bg-primary" >
  <img src="../assets/images/snake.png" class="card-img-top" alt="snake">
  <div class="card-body bg-light">
    <h5 class="card-title">SNAKE</h5>
    <p class="card-text">The player controls a long, thin creature, resembling a snake, which roams around on a borderless plane, picking up food.</p>
  </div>
</div>

<div class="card bg-success">
  <img src="../assets/images/blackjack.png" class="card-img-top" alt="snake">
  <div class="card-body bg-light">
    <h5 class="card-title">BLACKJACK</h5>
    <p class="card-text">A card game the object of which is to be dealt cards having a higher count than those of the dealer up to but not exceeding 21.</p>
  </div>
</div>
<div class="card bg-danger">
  <img src="../assets/images/tictactoe.png" class="card-img-top" alt="snake">
  <div class="card-body bg-light">
    <h5 class="card-title">TIC-TAC-TOE</h5>
    <p class="card-text">A game in which two players seek in alternate turns to complete a row, a column, or a diagonal with either three Os or three Xs drawn in the spaces of a grid of nine squares.</p>
  </div>
</div> -->
