<div class='wrapper'>
  <div class='carousel'>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/snake-img-2.png" class="card-img-top" alt="snake">
      </div>
      <div class='carousel__item-body bg-primary text-center'>
        <img src="../assets/dotnet-royale/snake.png" class="card-img-top" alt="snake">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/blackjack-img-1.png" class="card-img-top" alt="blackjack">
      </div>
      <div class='carousel__item-body bg-success text-center'>
        <img src="../assets/dotnet-royale/blackjack.png" class="card-img-top" alt="blackjack">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/tictactoe-img-1.png" class="card-img-top" alt="tictactoe">
      </div>
      <div class='carousel__item-body bg-danger text-center'>
        <img src="../assets/dotnet-royale/tictactoe.png" class="card-img-top" alt="tictactoe">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/lightbike.png" class="card-img-top" alt="lightbike">
      </div>
      <div class='carousel__item-body bg-warning text-center'>
        <img src="../assets/dotnet-royale/lightbike.png" class="card-img-top" alt="lightbike">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/snake-img-2.png" class="card-img-top" alt="snake">
      </div>
      <div class='carousel__item-body bg-primary text-center'>
        <img src="../assets/dotnet-royale/snake.png" class="card-img-top" alt="snake">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/blackjack-img-1.png" class="card-img-top" alt="blackjack">
      </div>
      <div class='carousel__item-body bg-success text-center'>
        <img src="../assets/dotnet-royale/blackjack.png" class="card-img-top" alt="blackjack">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/tictactoe-img-1.png" class="card-img-top" alt="tictactoe">
      </div>
      <div class='carousel__item-body bg-danger text-center'>
        <img src="../assets/dotnet-royale/tictactoe.png" class="card-img-top" alt="tictactoe">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/lightbike.png" class="card-img-top" alt="lightbike">
      </div>
      <div class='carousel__item-body bg-warning text-center'>
        <img src="../assets/dotnet-royale/lightbike.png" class="card-img-top" alt="lightbike">
      </div>
    </div>
    <div class='carousel__item'>
      <div class='carousel__item-head bg-light'>
        <img src="../assets/dotnet-royale/snake-img-2.png" class="card-img-top" alt="snake">
      </div>
      <div class='carousel__item-body bg-primary text-center'>
        <img src="../assets/dotnet-royale/snake.png" class="card-img-top" alt="snake">
      </div>
    </div>
  </div>
</div>
