@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container-fluid{
    padding: 2% 2%;
    overflow: hidden;
}
.chat-container{
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    height: 95vh;
    position: relative;
    overflow: hidden;
}
#chbody{
    background-image: url('/assets/images/bg1.jpg') ;
    opacity: 0.6;
    /* background-color: dimgray; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 93vh;
    padding: 10px;
    padding-bottom: 5px;
    overflow-y: auto

}
.message-container{
    background-color: rgb(224, 210, 210);
    padding: 2px;
    border-radius:5px ;
    width: fit-content;
    max-width: 100%;
    margin: 2px;
    margin-bottom: 5px;
    color: rgb(19, 17, 17);
    word-wrap: break-word;
}
.messageUsername{
    color: rgb(33, 136, 33);
    float: right;
    font-size: 12px;
    font-style: italic;
    font-family: cursive;
}
.same-user{
    display: flex;
    justify-content: flex-end ;
}
.chat-footer{
    background-color: rgb(41, 40, 40);
}
.form-control{
    background-color: white;
    border: 1px solid rgb(20, 17, 20);
    box-sizing: border-box;
    font-size: 1rem;
}




