<div id="chat-container">
  <!--<div class="container">-->
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center">
        <button ngbPanelToggle  id="toggle-user-btn"class="btn btn-link container-fluid text-left pl-0">Users Connected: {{getUserKeys().length}}</button>
      </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <ul class="list-group">
          <li *ngFor="let key of getUserKeys()" class="list-group-item">
            {{userDictionary[key].username}}
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
<!--</div> -->
  <div id="message-container">
    <div class="container-fluid border bg-light" id="chat-window">
      <div *ngFor="let msg of chatMessages">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{msg.senderName}}</h5>
          <small>{{msg.timestamp | date:'L/dd/yy h:mm a'}}</small>
        </div>
        <p class="mb-1">{{msg.body}}</p>
      </div>
    </div>
  </div>
  <div class="">
    <div class="input-group mb-3">
      <input (keydown.enter)="sendMessage()" type="text" class="form-control" placeholder="Send a message"
        [formControl]="messageBody">
      <button (click)="sendMessage()" class="btn btn-primary" type="button" id="send-message-button">Send</button>
    </div>
  </div>
</div>