#chat-container {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  min-width: 300px;
  max-height: calc(100vh - 80px);
  height: calc(100vh - 80px);
}

#chat-window {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

#message-container {
  display: flex;
  height: 100%;
  flex-shrink: 1;
  overflow: scroll;
  overflow-x: hidden;
}

#toggle-user-btn {
  text-decoration: none;
}

.list-group{
  max-height: 300px;
  min-height: 300px;
  margin-bottom: 10px;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}