  <div style="height: 88vh;">

    <!--- This is Snake Game-->
    <ng-container *ngIf="game$ | async as game">
      <audio id="bgmusic"></audio>
      <audio id="sfx"></audio>
      <div style = "float:left">
      <h5>Score: {{(score * 100) - 100}}</h5>
      </div>
      <div style = "float:right;">
      <h5>Lives: {{lives}}</h5>  
      </div>
      <div style = "text-align:center">
      <h5>Current Highest Score: {{(currentHighScore * 100) - 100}}</h5>
      </div>
      <div style="text-align:center">
      <h6 *ngIf="game.lost">Game Over! Waiting for players to finish... </h6>
      <h6 *ngIf="GameEnd"><button (click) = "goToRoom()">Return to Lobby</button></h6>
      </div>
      <app-game-field [width]="game.width" [height]="game.height" [food]="game.food">
        <app-snake [pos]="snakePositionDisplay"></app-snake>

      </app-game-field>
    </ng-container>
    <!-- End of Snake Game-->
    <!-- <div class="card text-center bg-dark" style="height: 50px">
      <div (click) = "resetScreen()" class="btn btn-primary card-footer bg-primary">
        GO BACK TO MAIN SCREEN
      </div>
    </div> -->

  </div>
