    <form class="form-group" [formGroup]="createTeamGroup">
        <div class="mb-3">
            <label class="form-label">Team Name</label>
            <input type="text" class="form-control" required formControlName = "name">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea type="password" class="form-control" required rows="4" cols="70" formControlName = "description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"  
            data-bs-target="#exampleModalToggle2" 
            data-bs-toggle="modal" 
            data-bs-dismiss="modal"
            (click) = OnCreateTeam(createTeamGroup)>Submit</button>
    </form>
