nav {
    background: #111011;
    height: 99vh;
    width: 100%;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Only stick if you can fit */
  @media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0;
    }
  }
  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  nav ul li a:hover {
    background: rgb(32, 221, 158);
    transition: .9s;
    transform: scale(1.1);
    z-index: -1;
    
  }
  