<nav>
    <ul>
        <li><a href="#" routerLink = "/home" routerLinkActive="active">home</a></li>
        <li><a href="#" routerLink = "/gamewindow" routerLinkActive="active">gamewindow</a></li>
        <li><a href="#" routerLink = "/gamelobby" routerLinkActive="active">gamelobby</a></li>
        <li><a href="#" routerLink = "/leaderboard" routerLinkActive="active">Leaderboard</a></li>
        <li><a href="#" routerLink = "/teamwindow" routerLinkActive="active">teamwindow</a></li>
    </ul>
</nav>

