.winner{
    color:rgb(255, 215, 0);
    text-align: center;
    font: 64px;
    font-weight: 900;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				 -1px -1px 0 #000;

}
.loser{
    color:rgb(192, 192, 192);
    text-align: center;
    font: 64px;
    font-weight: 900;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				 -1px -1px 0 #000;
}

.win {
  align-content: center;
}

.loss {
  align-content: center;
}
